<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Admin</title>
  
  <link rel="stylesheet" href="../css/admin.css" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
</head>
<body>
   <div class="container">
    <nav>
      <ul>
        
        <li> <i class="fas fa-user"> </i>
        <span class="nav-item">Admin</span>
        </a></li>

        <li><a href="/admin/manageManager">
          <i class="fas fa-th-list"></i>
          <span class="nav-item">Manager</span>
        </a></li>

        <li><a href="/admin/manageTopic">
          <i class="fas fa-th-list"></i>
          <span class="nav-item">Topics</span>
        </a></li>         
         
        <li><a href="/logout_admin" class="logout">
          <i class="fas fa-sign-out-alt"></i>
          <span class="nav-item">Logout</span> </a></li>
       
      </ul>
    </nav>

     
  </div>
 
</body>
</html>


